Jinja2==3.1.2
locust==2.14.2
python-engineio==4.8.0
python-socketio==5.10.0
requests==2.32.2
roundrobin==0.0.4
urllib3==1.26.13
uvicorn==0.24.0.post1
ws4py==0.5.1
wsproto==1.2.0
zipp==3.11.0
zope.event==4.6
zope.interface==5.5.2

